{% extends 'customer/base.html' %}
{% block scripts %}<script src="/static/js/customer.js"></script>{% endblock %}
{% block jumbotron %}{% endblock %}

{% block extra %}{% endblock %}

{% block title %}Catalog{% endblock %}

{% block content %}

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            {% for category in categories %}
              <a href="{% url 'customer_home' %}cat/{{category.name}}/"
                class="list-group-item {% if actual_category == category.name %}active{% endif %}">
                {{category.name}} <span class="badge">{{category.get_product_count}}</span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
          {% if products %}
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Products</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
               {% for product in products %}
                 <div class="list-group-item row">
                  <div class="col-sm-3 thumbnail">
                    {% if product.get_first_image %}
                    <img src="{{product.get_first_image}}" class="product-img" alt="{{product.name}}">
                    {% else %}
                    <img data-src="holder.js/100%x180" class="product-img" alt="{{product.name}}">
                    {% endif %}
                  </div>
                  <div class="col-sm-5">
                    <h4>{{product.name}}</h3>
                  </div>
                  <div class="col-sm-2">
                    <h4>$ {{product.price}}</h3>
                  </div>
                  <div class="col-sm-2">
                    {% if not product in cart.get_products %}
                    <a
                       href="{% url 'shopping_cart' %}add-to-cart?sku={{product.id}}"
                       style="margin-top: 3px;"
                       class="btn btn-md btn-success{% if not product.stock %} disabled{% endif %}"
                       data-id="{{product.id}}">
                      Add <span
                      class="glyphicon glyphicon-shopping-cart cart-icon"></span>
                    </a>
                    {% else %}
                    <a
                       href="{% url 'shopping_cart' %}remove-from-cart?sku={{product.id}}"
                       style="margin-top: 3px;"
                       class="btn btn-md btn-danger"
                       data-id="{{product.id}}">
                        Remove <span
                        class="glyphicon glyphicon-shopping-cart cart-icon"></span>
                    </a>
                    {% endif %}
                  </div>
                 </div>
               {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
    </div>
{% endblock %}