{% extends 'base.html' %}

{% block jumbotron %}{% endblock %}

{% block extra %}{% endblock %}

{% block content %}

        <div class="col-lg-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                {% for category in categories %}
                  <a href="{% url 'customer_home' %}cat/{{category.name}}/"
                    class="list-group-item {% if actual_category == category.name %}active{% endif %}">
                    {{category.name}}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    <div class="col-sm-8">
          {% if products %}
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Products</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
               {% for product in products %}
                 <a href="{% url 'customer_home' %}{{product.name}}/"
                   class="list-group-item">
                   {{product.name}}
                 </a>
               {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
    </div>
{% endblock %}