.jumbotron {
    background: #a8bbdf;
}

.product-img {
    width: 100px;
    height: 140px !important;
}

body {
    overflow-y: visible !important;
}

.btn-qty {
    border: 1px solid rgb(189, 204, 190);
    padding-top: 6px;
}

.btn-qty-icon {
    font-size: .9em;
}

.total-price {
    color: rgb(197, 19, 19);
    font-weight: bold;
}

.cart-thumbnail {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.cart-icon {
    color: white !important;
}